<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <%= link_to root_path, class: "logo-link" do %>
        <img src="<%= asset_path('logo-black.png') %>" alt="California Christadelphian Kids Camp" class="logo-image">
      <% end %>
    </div>
    
    <nav class="nav-menu">
      <ul class="nav-list">
        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li><%= link_to "About", "/#about", class: "nav-link" %></li>
        <li><%= link_to "Attendee Info", attendee_info_path, class: "nav-link" %></li>
        <li><%= link_to "Counselor Info", counsellor_info_path, class: "nav-link" %></li>
        <li><%= link_to "Rules", rules_path, class: "nav-link" %></li>
        <li><%= link_to "Workbooks", workbooks_path, class: "nav-link" %></li>
        <!-- Mobile: Show as regular nav items -->
        <li class="mobile-register-item"><%= link_to "Register as Attendee", new_attendee_path, class: "nav-link" %></li>
        <li class="mobile-register-item"><%= link_to "Register as Counselor", new_counsellor_path, class: "nav-link" %></li>
        <li class="mobile-register-item"><%= link_to "Pay Remaining Balance", balance_payment_lookup_path, class: "nav-link" %></li>
        <!-- Desktop: Show as dropdown -->
        <li class="dropdown-container desktop-dropdown">
          <button class="nav-link btn-register dropdown-toggle" id="registerDropdown" aria-haspopup="true" aria-expanded="false">
            Register
            <span class="dropdown-arrow">▼</span>
          </button>
          <ul class="dropdown-menu" id="registerDropdownMenu" aria-labelledby="registerDropdown">
            <li><%= link_to "Register as Attendee", new_attendee_path, class: "dropdown-item" %></li>
            <li><%= link_to "Register as Counselor", new_counsellor_path, class: "dropdown-item" %></li>
            <li><%= link_to "Pay Remaining Balance", balance_payment_lookup_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li><%= link_to "Donate", donations_path, class: "nav-link" %></li>
        <li><%= link_to "Admin", admin_login_path, class: "nav-link" %></li>
      </ul>
    </nav>
    
    <button class="burger-menu" id="burgerMenu" aria-label="Toggle menu">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
  </div>
</header>

