<div class="attendee-form-group border border-gray-300 rounded-lg p-4 mb-4 bg-gray-50">
  <div class="flex justify-between items-center mb-4">
    <h4 class="text-lg font-semibold text-gray-700">Child</h4>
    <% unless f.object.new_record? %>
      <%= f.hidden_field :_destroy, class: 'destroy-field' %>
      <button type="button" class="remove-attendee-btn text-red-600 hover:text-red-800">Remove</button>
    <% else %>
      <button type="button" class="remove-attendee-btn text-red-600 hover:text-red-800">Remove</button>
    <% end %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="form-group">
      <%= f.label :first_name, "First Name", class: "form-label" %>
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "Last Name", class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth, "Date of Birth", class: "form-label" %>
      <%= f.date_field :date_of_birth, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :gender, class: "form-label" %>
      <%= f.select :gender, options_for_select([['Select...', ''], ['Male', 'Male'], ['Female', 'Female'], ['Other', 'Other']], f.object.gender), {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone, "Phone Number", class: "form-label" %>
      <%= f.telephone_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email", class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :tshirt_size, "T-Shirt Size", class: "form-label" %>
      <%= f.select :tshirt_size, options_for_select([['Select...', ''], ['Youth S', 'Youth S'], ['Youth M', 'Youth M'], ['Youth L', 'Youth L'], ['Youth XL', 'Youth XL'], ['Adult S', 'Adult S'], ['Adult M', 'Adult M'], ['Adult L', 'Adult L'], ['Adult XL', 'Adult XL'], ['Adult XXL', 'Adult XXL']], f.object.tshirt_size), {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :ecclesia, class: "form-label" %>
      <%= f.text_field :ecclesia, class: "form-control" %>
    </div>

    <div class="form-group md:col-span-2">
      <label class="flex items-center">
        <%= f.check_box :piano, class: "mr-2" %>
        <span>This attendee plays piano</span>
      </label>
    </div>

    <div class="form-group md:col-span-2">
      <h5 class="font-semibold mb-2">Address</h5>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :address_line_1, "Address Line 1", class: "form-label" %>
      <%= f.text_field :address_line_1, class: "form-control" %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :address_line_2, "Address Line 2 (Optional)", class: "form-label" %>
      <%= f.text_field :address_line_2, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city, class: "form-label" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :state, class: "form-label" %>
      <%= f.text_field :state, class: "form-control", maxlength: 2, placeholder: "CA" %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :zip, "ZIP Code", class: "form-label" %>
      <%= f.text_field :zip, class: "form-control" %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :medical_conditions, class: "form-label" %>
      <%= f.text_area :medical_conditions, rows: 2, class: "form-control", placeholder: "Any medical conditions we should be aware of..." %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :dietary_restrictions, class: "form-label" %>
      <%= f.text_area :dietary_restrictions, rows: 2, class: "form-control", placeholder: "Any dietary restrictions..." %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :allergies, class: "form-label" %>
      <%= f.text_area :allergies, rows: 2, class: "form-control", placeholder: "Any allergies..." %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :special_needs, class: "form-label" %>
      <%= f.text_area :special_needs, rows: 2, class: "form-control", placeholder: "Any special needs or accommodations required..." %>
    </div>

    <div class="form-group md:col-span-2">
      <%= f.label :notes, "Additional Notes", class: "form-label" %>
      <%= f.text_area :notes, rows: 2, class: "form-control", placeholder: "Any additional information about this child..." %>
    </div>
  </div>
</div>


